header {
    background-color: #711D1D; /* Rojo-café */
    color: #F2BD07; /* Dorado */
    text-align: center;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
}

.about-container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.about-container p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.about-container strong {
    color: #711D1D; /* Rojo-café */
}

@media (max-width: 768px) {
    .about-container {
        width: 90%;
    }
}
